pipeline/ContosoPL.json
{
	"name": "ContosoPL",
	"properties": {
		"activities": [
			{
				"name": "RetreiveAllTables_foreach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupAllContosoTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupAllContosoTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyContosoTables",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSetting",
										"copyBehavior": {
											"value": "@pipeline().parameters.tableName",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSetting",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ContosoDataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ContosoCsvSkin",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "LookupAllContosoTables",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' "
					},
					"dataset": {
						"referenceName": "ContosoDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		]
	}
}